
<% if (typeof error != 'undefined') { %>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %>

<form action="/patients" method="POST">
  
  <div class="mb-3">
    <label for="full_name" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="full_name" name="full_name">
  </div>
  
  <div class="mb-3">
    <label for="city" class="form-label">Telephone</label>
    <input type="text" class="form-control" id="telephone" name="telephone" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>