.container {
  background: lightseagreen;
}

img {
  width: 1000px;

  border-radius: 20px;
  padding: 20px;
}

.contaliner {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.card-img-top {
  width: 210px;
}
