<link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" />

<div class="contaliner">
  <div class="card" style="width: 18rem;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Minister_venko_filipche.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Minister of Health</h5>
      <p class="card-text">Venko Filipce</p>
    </div>
  </div><div class="card" style="width: 18rem;">
    <img src="https://www.sobranie.mk/content/images/pratenici%2016-20/Zaev-Zoran.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Prime Minister</h5>
      <p class="card-text">Zoranco Zaev</p>

    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://acibademsistina.mk/wp-content/uploads/2018/02/2140-Petrov-Andrej.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Doctor (DERMATOLOGY)</h5>
      <p class="card-text">Andrej Petrov</p>
    </div>
    </div> 
    
